body {
  background-color: #eaf6f6;
}

hr {
  border-color: grey;
  width: 5%;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
